<% case type %>
<% when "not-available-in-currency" %>
  <span class="add-to-cart-form-general-availability-value add-to-cart-form-general-availability-value--danger"><%= Spree.t(:producto_no_disponible_en_esta_moneda) %></span>
<% when "in-stock" %>
  <span class="add-to-cart-form-general-availability-value"><%= Spree.t(:en_stock) %></span>
<% when "backorderable" %>
  <span class="add-to-cart-form-general-availability-value add-to-cart-form-general-availability-value--warning"><%= Spree.t(:reordenar_info) %></span>
<% when "out-of-stock" %>
  <span class="add-to-cart-form-general-availability-value add-to-cart-form-general-availability-value--danger"><%= Spree.t(:sin_stock) %></span>
<% end %>
